language: python
services:
  - docker
python:
  - "3.5"
  - "3.5-dev"
  - "3.6"
  - "3.6-dev"
  - "3.7-dev"
before_install:
  - pip install -U pip
  - pip install -U setuptools
install:
  - pip install -r requirements.txt
  - pip install pycodestyle pylint
script:
  - pycodestyle setup.py dockerjudge
  - pylint dockerjudge
